.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  .categories {
    cursor: pointer;
    margin-top: 28px;
    margin-left: 101px;
    display: inline-block;
    a {
      display: inline-block;
      font-weight: 600;
      width: 65px;
      text-align: center;
      color: #5ece7b;
      padding-bottom: 30px;
    }
    .active {
      border-bottom: 2px solid #5ece7b;
    }
  }
  .logo {
    cursor: pointer;
    position: absolute;
    left: 704px;
    top: 20px;
    img {
      width: 41px;
    }
  }
  .currenciesCart {
    margin-right: 93px;
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
    .currencies {
      cursor: pointer;
      z-index: 200;
      background-color: white;
      font-size: 18px;
      font-weight: 500;
      line-height: 29px;
      .choosen {
        background-color: rgb(150, 146, 146);
      }
      .choosen:hover {
        background-color: rgb(150, 146, 146);
      }
      li:hover {
        background-color: rgba(238, 238, 238, 1);
      }
      .firstLi {
        text-align: right;
        display: flex;
      }
    }
    .active {
      box-shadow: 0px 0px 9px 1px rgba(56, 50, 50, 1);
      position: absolute;
      top: 65px;
      width: 114px;
    }
    .cart {
      cursor: pointer;
      position: relative;
      p {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        font-size: 14px;
        background-color: black;
        color: white;
        position: absolute;
        top: -10px;
        right: -15px;
      }
    }
  }
}
